@app-bg: RGBA(2,37,67,1);
@app-bg-accent: RGBA(4,52,93,1);
@app-bg-secondary: RGBA(1,19,35,1);
@left-nav-hvr: RGBA(17,61,97,.9);


html, body, #app {
  height:100%;
  background:@app-bg;
}

.full-container{
  display:flex;
  flex-flow: row;
  .app {
    flex:1;
    header {
      -webkit-app-region: drag;
      -webkit-user-select: none;
      position:fixed;
      width:100%;
      display:block;
      height:45px;
      z-index:2000;
      background: darken(@app-bg,1%);
      border-bottom:1px solid RGBA(0,0,0,.2);
      .app-window-controls {
        height:inherit;
        display:block;
        width:90px;
        margin: 10px 5px;
        li {
          list-style:none;
          display:inline-block;
          overflow:hidden;
          a {
            display:block;
            -webkit-border-radius:15px;
            width:15px;
            height:15px;
            margin:0 5px;
            &.app-minimize{
              background: RGBA(255,204,78,1) !important;
              &:hover {
                transition: box-shadow .4s ease;
                box-shadow: inset 5em 1em grey;
              }
            }
            &.app-close{
              background: RGBA(0,170,240,1) !important;
              &:hover {
                transition: box-shadow .4s ease;
                box-shadow: inset 5em 1em grey;
              }
            }
          }
        }
      }
    }
  }
}

.flexbox-container{
  flex:1;
  display:flex;
  flex-direction: row;
  align-content: stretch;
  .flexbox-item {
    margin-top:45px;
    flex-grow: 1;
  }
}

.app-nav-left {
  min-width: 65px;
  max-width: 65px;
  background:darken(@app-bg,1%);
  height:inherit;
  border-right:1px solid  RGBA(15,57,94,1);

  ul {
    padding-left:0;
    li {
      list-style:none;
      display:block;
      a {
        margin:15px auto;
        -webkit-border-radius:2px;
        display:block;
        height:38px;
        width:38px;
        background: RGBA(1,19,35,.5);
        box-shadow: inset 0 0 0px 1px RGBA(9,70,121,.2);
        &:hover {
          transition: all .2s ease;
          background: @app-bg-secondary;
          box-shadow: inset 0 0 0px 3px RGBA(9,70,121,1);
        }
      }
    }
  }
}

.app-big-body {
  display:flex;
  flex-flow: row;
  position:relative;
  height:inherit;
  background:@app-bg;
  border-left:1px solid RGBA(0,0,0,.1);

}

.viewports {
  flex:1;
  height:inherit;
  background:@app-bg;
  transform: translate3d(0,0,0);
  transition: margin .1s, transform .1s;
  border-left:1px solid RGBA(0,0,0,.1);

  &.isOpen {
    margin-right: -291px;
    transform: translate3d(-291px,0,0);
  }
}

.character-list {
  flex:1;
  height:inherit;
  max-width:290px;
  min-width:290px;
  background: RGBA(2,34,64,1);
  display:flex;
  flex-flow: column;
  .character-search {
    min-height:44px;
    border-right:1px solid  RGBA(15,57,94,1);
    border-bottom:1px solid  RGBA(15,57,94,1);
    background: RGBA(10,30,54,1);
  }
  .list {
    position:relative;
    overflow:hidden;
    .ps-scrollbar-y-rail{
      margin-top:10px;
      margin-bottom:10px;
      background: RGBA(10,25,47,.3);

      .ps-scrollbar-y{
        background-color: RGBA(47,111,175,1);
      }

    }




  & > ul {
    padding:0;
    margin:0;
    width:100%;
    height:80%;
    border-right:1px solid  RGBA(15,57,94,1);
    display:table;

    li {
      list-style:none;
      overflow:hidden;
      position:relative;
      display:block;
      width:100%;
      border-bottom:1px solid RGBA(15,57,94,1);
      background-color: RGBA(3,45,80,0);
      transition: background 0.3s ease;
      &:last-child {
        border-bottom:none;
      }
      &.active {
        background-color: RGBA(3,45,80,1);
      }

      .level-box {
        position:absolute;
        width:45px;
        height:150px;
        top:0;
        right:10px;
        p {
          text-align:center;
          letter-spacing: normal;
          small {
            padding-top:16px;
            display:block;
            font-size:9px !important;
            text-transform: uppercase;
            color:RGB(167,167,167);
          }
          span {
            display:block;
            font-size:14px;
            font-weight:600;
            letter-spacing:.12em;
            line-height:16px;
            color:RGB(255,255,255);
          }
        }
      }
      .character-details {
        height:85px;

        .image-box {
          width:30%;
          float:left;

          .image {
            width:65px;
            height:65px;
            margin:15px auto;
            border-radius:5px;
            overflow:hidden;
          }

        }

        .detail-box {
          width:60%;
          float:left;

          .details {
            margin:16px 0 20px;
            h5 {
              margin:0;
              padding:0;
              color:#fff;
              text-transform: uppercase;
              &.ch-charactername{
                font-size:12px;
                font-weight:600;
                letter-spacing:.12em;
                line-height:16px;
                color:RGB(255,255,255);
              }
            }
            p{
              margin:0px;
              padding:0px;
              text-transform: uppercase;
              line-height:16px;
              letter-spacing:.12em;

              &.ch-profession{
                font-size:10px;
                color:RGB(0,175,250);
              }

              &.ch-campaign{
                font-size:10px;
                color:RGB(95,95,95);
              }

              &.ch-gamesystem{
                font-size:10px;
                color:RGB(167,167,167);
              }
            }
          }
        }
      }
    }
  }
}
}

#viewport{
  height: inherit;
  .viewport-container {
    .viewport-header{
      margin:0 -15px 15px -15px;
      padding:10px 15px 9px;
      background: RGBA(10,30,54,1);
      border-bottom:1px solid  RGBA(15,57,94,1);

      h1 {
        color:#fff;
        font-size: 22px;
        text-transform: uppercase;
        font-family: "AW", arial, sans-serif;
        margin:0;
      }
    }
    .viewport-body {
      .stat-container {
        ul {
          list-style: none;
          padding-left: 0;
          li{
            &:nth-child(even){
              background:RGBA(15, 40, 73, 1);
            }
            span {
              display:inline-block;
              font-size:16px;
              line-height:35px;
              &.stat-abbv{
                font-weight: 600;
                width:100%;
                padding:0px 10px 0;
                color: RGBA(162,82,166,1);
              }
              &.stat-value{
                width:100%;
                padding:0px 0px 0 10px;
                color: RGBA(255, 255, 255, 0.5);
              }
            }
          }
        }
      }
      .contain-photo{
        position:relative;
        top:-40px;
        border-radius: 3px;
        border:4px solid  RGBA(10,30,54,1);
        width:130px;
        height:160px;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
      }
      span.c-detail {
        display:block;
        color:RGBA(162,82,166,1);
        font-size:11px;
        padding-bottom:15px;
        text-transform:uppercase;
        strong{
          color:#fff;
          font-weight:400;
          font-size:18px;
          display:block;
        }
      }
    }
  }
}

.form-group{
  input[type=file] {
    display: block;
    position: relative !important;
    height: 38px !important;
    background: RGBA(15,40,73,1) !important;
    opacity: 1 !important;

  }
}

.form-control{
  padding:0 10px !important;
  background: RGBA(10,25,48,.2) !important;
  color: RGBA(255,255,255,.2);
}

.has-feedback label ~ .form-control-feedback {
  top: 0px ;
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
  left: 10px;
}

.stat-list {
  padding-left:0 !important;
  .form-group {
    margin:10px 0;
  }
  & > div {
    padding-left:0;
  }
  .control-label{
    min-width: 100% !important;
  }
  .form-control{
    width:100%;
    border-radius:0;
    background: RGBA(10,25,48,.2);
  }
}

.basic-list {
  padding-left:0 !important;
  .form-group {
    margin:10px 0 0;
  }
  & > div {
    padding-left:0;
  }

  .form-control{
    border-radius:0;
    background: RGBA(10,25,48,.2);
  }
}

.example-appear {
  opacity: 0;
  transform: translateY(15%);
  animation: openSpace 0.2s ease forwards, moveIn 0.3s 0.2s ease forwards;
}

.example-appear.example-appear-active {
  transform: translateY(0.0%);
  transition: all 0.2s ease-in;
  opacity: 1;
}

.example-leave {
  opacity: 1;
}

.example-leave.thing-leave-active {
  opacity: 0;
  transition: opacity .3s ease;
}


@keyframes openSpace {
  to {
    max-height: 50px;
  }
}

@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes do {
  0% {
      height:0;
      opacity: 0;
    }
  100% {
    height:35px;
    opacity: 1;
  }
}


@font-face {
  font-family: 'AW';
  src: url('../fonts/AWConquerorSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AWConquerorSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AWConquerorSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AWConquerorSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AWConquerorSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
