@app-bg: RGBA(2,37,67,1);
@app-bg-accent: RGBA(4,52,93,1);
@app-bg-secondary: RGBA(1,31,55,1);
@left-nav-hvr: RGBA(17,61,97,.9);


html, body {
  height:100%;
}

.full-container{
  height:inherit;
  .app {
    height:100%;
    header {
      -webkit-app-region: drag;
      -webkit-user-select: none;
      height:5%;
      background:darken(@app-bg,1%);
      .app-window-controls {
        display:table;
        width:60px;
        padding:10px 0;
        margin: 0;
        li {
          list-style:none;
          width:15px;
          height:15px;
          margin:0;
          display:table-cell;
          a {
            display:block;
            -webkit-border-radius:15px;
            width:15px;
            height:15px;
            &.app-minimize{
              background: RGBA(255,204,78,1) !important;
            }
            &.app-close{
              background: RGBA(0,170,240,1) !important;
            }
          }
        }
      }
    }
  }
}

.flexbox-container{
  height: 95%;
  display:flex;
  flex-direction: row;
  align-content: stretch;
  .flexbox-item {
    flex-grow: 1;
  }
}

.app-nav-left {
  max-width: 65px;
  background:darken(@app-bg,1%);
  // border-right: 1px solid @app-bg-accent;
  ul {
    padding-left:0;
    li {
      list-style:none;
      display:block;
      a {
        margin:15px auto;
        -webkit-border-radius:2px;
        display:block;
        height:38px;
        width:38px;
        background: @app-bg-secondary;
        &:hover {
          transition: background .3s ease;
          background: @left-nav-hvr;
        }
      }
    }
  }
}

.app-big-body {
  position:relative;
  background:@app-bg;
}

@font-face {
  font-family: 'AW';
  src: url('../fonts/AWConquerorSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AWConquerorSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AWConquerorSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AWConquerorSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AWConquerorSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
