$translucent-red: rgba(255, 0, 0, 0.5);
$translucent-yellow: rgba(255,235,0,0.5);
$translucent-black: rgba(0,0,0,1);
$interface-support-color: rgba(36,38,50,1);
$interface-support-alt-color: rgba(45,50,71,1);
$interface-main-color: rgba(45,48,62,1);
$interface-main-trim-color: transparentize($translucent-black, 0.9);
body, th, td {
  color:#FFF;
}
.form-control {
  border-radius:0;
  border:2px solid rgba(178,153,217,1);
  background: transparentize($translucent-black, 0.9);
} 
body {
  background-color: $interface-support-color;

    overflow-y:hidden;
}
.ev {
  flex:1;
  display:flex;
  .app {
    flex:1;
    display:flex;
    .anonymous-view{
      flex:1;
      display:flex;
      transition:all .3s ease;
      .side-screen {
        background: rgba(36,39,51,1);
        flex:1;
        display:flex;
      }
      .auth-screen {
        flex:1;
        display:flex;
        background: $interface-main-color;

        .login-container {
          padding:0;
          background:$interface-main-color;
          min-width:40%;
          max-width:40%;
          flex:1;
          flex-shrink: 1;
          height:450px;
          form {
            margin: 20px !important;
          }
          .bn-app-login {
            vertical-align: middle;
            line-height: 30px;
            text-align: center;
            border:none;
            background: rgba(178,153,217,1);
            display: block;
            height:auto;
          }
        }
      }
    }

    .signedin-view{
      flex:1;
      display:flex;
      transition:all .3s ease;
      flex-direction: column;

      .app-header {
        flex:1;
        display:flex;
        background: $interface-support-color;
        border-bottom: 1px solid $interface-main-trim-color;
        max-height:50px;
        min-height:50px;
        -webkit-app-region: drag;
        -webkit-user-select: none;
        z-index:2000;
        ul {
          margin:0 0 0 15px;
          padding:0;
          display:flex;
          flex:1;
          flex-direction: row;
          max-width:55px;
          border-right: 1px solid $interface-main-trim-color;

          li {
            flex:1;
            display:flex;
            max-width:21px;
            list-style: none;
            justify-content: center;

            a{
              width:13px;
              height:13px;
              align-self:center;
              border-radius:16px;
              transition:all .3s ease;
              -webkit-app-region: no-drag;
              &.bn-app-close{
                background: opacify($translucent-red, 0.3);
                &:hover,
                &.active {
                  background: $translucent-red;
                }
              }
              &.bn-app-minimize{
                background: opacify($translucent-yellow, 0.3);
                &:hover,
                &.active {
                  background: $translucent-yellow;

                }
              }

            }
          }
        }
      }
      .app-body-container {
        flex:1;
        flex-shrink: 1;
        display:flex;
        flex-direction: row;


          .app-left-nav{
            flex:1;
            max-width:70px;
            min-width:70px;
            background:$interface-support-color;
            border-right: 1px solid $interface-main-trim-color;

            ul {
              margin:15px 0 0 0 ;
              padding:0;
              display:flex;
              flex:1;
              flex-direction: column;

              li {
                -webkit-app-region: no-drag !important;
                list-style:none;
                flex:1;
                display:flex;
                max-width:70px;
                justify-content: center;
                padding:0 0 15px;

                a{
                  width:45px;
                  height:45px;
                  align-self:center;
                  transition:all .2s ease;
                  background-size: contain !important;
                  -webkit-app-region: no-drag !important;
                  -webkit-border-radius:2px;
                  background-color: $interface-main-color;
                  box-shadow: inset 0 0 0px 1px $interface-support-color;
                  // &.characters-link{
                  //   background:url(../images/characters.svg) no-repeat;
                  //   opacity: .4;
                  // }
                  // &.character-add-link{
                  //   background:url(../images/character-add.svg) no-repeat;
                  //   opacity: .4;
                  // }
                  &:hover{
                    box-shadow: inset 0 0 0px 3px RGBA(255,255,255,1);
                    // opacity:1;
                  }
                }
              }
            }
          }
          .app-multi-col{
            flex:1;
            display:flex;
            flex-direction:row;

          .app-listview{
            flex:1;
            display:flex;
            max-width:270px;
            min-width:250px;

            background: rgba(32,32,32,1);
            // border-right: 1px solid $interface-support-color;
            border-left: 1px solid $interface-support-color;
            flex-grow: 1;
            max-height: 100%;
            position:relative !important;
            overflow:hidden !important;
            .ps-scrollbar-y-rail{
              margin-top:10px;
              margin-bottom:10px;
              background: rgba(10,25,47,.3);

              .ps-scrollbar-y{
                background-color: rgba(47,111,175,1);
              }
            }
            .app-character-list{
              flex:1;
              display: flex;
              flex-grow:1;
              width:100%;
              height:100% !important;



              & > ul {
                padding:0;
                margin:0;
                width:100%;
                flex-direction: column;
                display:flex;
                flex:1;

                li {
                  list-style:none;
                  position:relative;
                  flex:1;
                  display:block;
                  width:100%;
                  max-height:90px;
                  min-height:90px;
                  border-bottom: 1px solid $interface-main-trim-color;

                  transition: background 0.2s ease;
                  &:last-child {
                    border-bottom:none;
                  }
                  &.inactive {
                    background-color: opacify($interface-support-alt-color, 0.3) !important;
                  }
                  &.active {
                    background-color:  transparentize($interface-support-alt-color, 0.5);
                  }

                  .level-box {
                    position:absolute;
                    width:45px;
                    height:150px;
                    top:0;
                    right:10px;
                    p {
                      text-align:center;
                      letter-spacing: normal;
                      small {
                        padding-top:16px;
                        display:block;
                        font-size:9px !important;
                        text-transform: uppercase;
                        color:RGB(167,167,167);
                      }
                      span {
                        display:block;
                        font-size:14px;
                        font-weight:600;
                        letter-spacing:.12em;
                        line-height:16px;
                        color:RGB(255,255,255);
                      }
                    }
                  }

                  .character-details {
                    height:85px;
                    .image-box {
                      width:30%;
                      float:left;
                      .image {
                        width:65px;
                        height:65px;
                        margin:15px auto;
                        border-radius:5px;
                        overflow:hidden;
                      }
                    }

                    .detail-box {
                      width:60%;
                      float:left;

                      .details {
                        margin:16px 0 20px;
                        h5 {
                          margin:0;
                          padding:0;
                          color:#fff;
                          text-transform: uppercase;
                          &.ch-charactername{
                            font-size:12px;
                            font-weight:600;
                            letter-spacing:.12em;
                            line-height:16px;
                            color:RGB(255,255,255);
                          }
                        }
                        p{
                          margin:0px;
                          padding:0px;
                          text-transform: uppercase;
                          line-height:16px;
                          letter-spacing:.12em;

                          &.ch-profession{
                            font-size:10px;
                            color:RGB(0,175,250);
                          }

                          &.ch-campaign{
                            font-size:10px;
                            color:RGB(95,95,95);
                          }

                          &.ch-gamesystem{
                            font-size:10px;
                            color:RGB(167,167,167);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .app-main-view {
            flex:1;
            background: $interface-main-color;
            margin-left:5px;
            margin-right:5px;
            &.welcome {
              background: $interface-support-color;
            }
            .bodyHeader {
              flex: 1;
              display:flex;
              flex-direction:row;
              max-height: 50px;
              min-height: 50px;
              background: $interface-support-color;
              .headTitle{
                flex:1;
                h2 {
                  margin:0;
                  line-height:auto;
                  font-size:16px;
                }
              }
              .headController{
                flex:1;
                display:flex;
                max-width:20%;

                ul {
                  flex:1;
                  display:flex;
                  flex-direction:row;
                  list-style:none;
                  margin:0;
                  li {
                    flex-grow:0;
                    background-color:red;
                    flex:1;
                    min-width:30px;
                    max-width:60px;
                    a {
                      flex:1;
                      display:block;
                      min-height: 50px;
                      color:#fff;
                    }
                  }
                }
              }

            }
          }
        }
      }
      .app-footer{
        flex:1;
        display:flex;
        background: $interface-support-color;
        border-top: 1px solid $interface-main-trim-color;
        max-height:50px;
        min-height:50px;
      }
    }
  }
}


.hidden {
  display:none !important;
}
