doctype
html(lang="en")
  head 
    title Character  
    link(rel='stylesheet', href='../../shared/css/global.css')
    link(rel='stylesheet', href='./styles/main.css')
  body   
    #content
  script(src='./scripts/app.js') 
 
