doctype
html(lang="en")
  head 
    title Character  
    link(rel='stylesheet', href='../../shared/css/global.css')
    link(rel='stylesheet', href='./styles/main.css')
  body   
    p page 2 yes
  script(src='./scripts/coolie.js') 
 
